version: "3.8"

networks:
  internal:
    external: true

services:
  pgbackups:
    image: prodrigestivill/postgres-backup-local:18
    container_name: pgbackups
    restart: unless-stopped
    user: 1000:1000
    volumes:
      - ${MNT_STORAGE}/pgbackups:/backups
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_EXTRA_OPTS=-Z6 --schema=public --blobs
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=5
      - BACKUP_KEEP_MONTHS=12
      - HEALTHCHECK_PORT=8080
    networks:
      - internal
