version: "3.8"

networks:
  traefik-public:
    external: true
  internal:
    external: true
  monitor-net:
    external: true

services:
  adminer:
    image: adminer:5.4.2
    container_name: adminer
    restart: unless-stopped
    ports:
      - "48080:8080"
    environment:
      - TZ=Europe/London
    labels:
      # Push through Traefik
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public
      # HTTPS
      - traefik.http.routers.adminer-public-https.rule=Host(`${ADMINER_DOMAIN}`)
      - traefik.http.routers.adminer-public-https.entrypoints=https
      - traefik.http.routers.adminer-public-https.tls=true
      - traefik.http.routers.adminer-public-https.tls.certresolver=main
      - "traefik.http.routers.adminer-public-https.service=adminer"
      # Access Port
      - traefik.http.services.adminer.loadbalancer.server.port=8080
    networks:
      - traefik-public
      - internal

  telegraf:
    image: telegraf:1.37.1
    command: -config /etc/telegraf/telegraf.conf -config-directory /etc/telegraf/telegraf.d
    container_name: telegraf
    restart: unless-stopped
    user: "1001:1001"
    volumes:
      - /data/db/config/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /data/db/config/telegraf.d:/etc/telegraf/telegraf.d:ro
    depends_on:
      - influxdb
    networks:
      - traefik-public
      - monitor-net

  influxdb:
    image: influxdb:1.8.10
    container_name: influxdb
    restart: unless-stopped
    ports:
      # The API for InfluxDB is served on port 8086
      - "8086:8086"
      - "8082:8082"
      # UDP Port
      - "8089:8089/udp"
    user: "1001:1001"
    environment:
      - INFLUXDB_DB=${INFLUXDB_DB}
      - INFLUXDB_ADMIN_USER=${INFLUXDB_ADMIN_USER}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
      - INFLUXDB_USER=${INFLUXDB_USER}
      - INFLUXDB_USER_PASSWORD=${INFLUXDB_USER_PASSWORD}
      - INFLUXDB_WRITE_USER=${INFLUXDB_WRITE_USER}
      - INFLUXDB_WRITE_USER_PASSWORD=${INFLUXDB_WRITE_USER_PASSWORD}
    volumes:
      - /data/db/config/influxdb.conf:/etc/influxdb/influxdb.conf:ro
      - /data/db/influxdb:/var/lib/influxdb:rw
    networks:
      - traefik-public
      - monitor-net
      - internal

  prometheus:
    image: prom/prometheus:v3.9.1
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    user: "1001:1001"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--web.enable-lifecycle"
    volumes:
      - /data/db/config/prometheus.yml:/etc/prometheus/prometheus.yml
      - /data/db/prometheus:/prometheus:rw
    networks:
      - traefik-public
      - monitor-net

  influxdb2:
    image: influxdb:2.7.3
    container_name: influxdb2
    restart: unless-stopped
    ports:
      - "8087:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${DOCKER_INFLUXDB_INIT_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${DOCKER_INFLUXDB_INIT_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${DOCKER_INFLUXDB_INIT_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
    volumes:
      - /data/db/influxdb2/:/var/lib/influxdb2
    networks:
      - traefik-public
      - monitor-net

  mongo:
    image: mongo:4.4
    container_name: mongodb
    restart: always
    volumes:
      - /data/db/mongodb:/data/db
      - /data/db/config/mongodb:/docker-entrypoint-initdb.d:ro
    networks:
      - internal
